<nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button"
          data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%= link_to root_url, class: 'navbar-brand' do %>
    Флэшкарточкер
  <% end %>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      <li class="nav-item active">
        <%= link_to root_url, class: 'nav-link' do %>
          Главная
        <% end %>
      </li>
      <% if current_user %>
        <li class="nav-item">
          <%= link_to edit_user_path(current_user.id), class: 'nav-link' do %>
            Редактировать профиль
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to :logout, method: :post, class: 'nav-link' do %>
            Выйти
          <% end %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to new_user_path, class: 'nav-link' do %>
            Зарегистрироваться
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to auth_at_provider_path(provider: :github),
                      class: 'nav-link' do %>
            Войти через Github
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to :login, class: 'nav-link' do %>
            Войти
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
