<%= simple_form_for @card do |f| %>
  <%= render 'shared/msg', object: @card %>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :original_text, label: 'Оригинальный текст (Deutsch):' %>
      <br>
    </div>
    <div class="col-md-6">
      <%= f.input :translated_text, label: 'Перевод (English):' %>
      <br>
    </div>
    <div class="col-md-6">
      <div class="actions">
        <%= f.button :submit, 'Готово', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
