<!DOCTYPE html>
<html>
  <head>
    <title>Флэшкарточкер</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'bootstrap', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/message' %>
    <div class="container">
      <div class="row">
        <div class="col-md-6 push-md-6">
          <ul class="navigation-links">
            <li>
              <%= link_to 'Все карточки', cards_path %>
            </li>
            <li>
              <%= link_to 'Добавить карточку', new_card_path %>
            </li>
          </ul>
        </div>
        <div class="col-md-6 pull-md-6">
          <h1>Флэшкарточкер</h1>
        </div>
      </div>
      <br>
      <%= yield %>
    </div>
  </body>
</html>
